/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-medium: 500;
}

/*===== Colores =====*/
:root {
  --first-color: #5361ff;
  --white-color: #fafaff;
  --dark-color: #2a3b47;
  --text-color: #697477;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 10.5rem;
  --h2-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0;
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  background-color: var(--first-color);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1154px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.opinion-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: var(--dark-color);
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__logo {
  color: var(--white-color);
}
.nav__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== HOME =====*/
.home {
  position: relative;
  background-color: var(--first-color);
  overflow: hidden;
}
.home__container {
  height: calc(100vh - var(--header-height));
  height: 640px;
  grid-template-rows: 1.7fr 1fr;
  row-gap: 0;
}
.home__title {
  align-self: flex-end;
  font-size: var(--big-font-size);
  color: var(--white-color);
  line-height: 0.8;
}
.home__title span {
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
}
.home__scroll {
  align-self: flex-end;
  padding-bottom: var(--mb-4);
}
.home__scroll-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: var(--white-color);
}
.home__img {
  position: absolute;
  text-align: right;
  bottom: 100px;
  font-size: 3.5rem;
  color: var(--white-color);
  line-height: 0.8;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 50px;
  text-wrap: nowrap;
  width: 524px;
  left: 55%;
}

/* ===== ABOUT =====*/
.about__container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}
.about__img {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  width: 120px;
  height: 120px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}
.about__img img {
  width: 100px;
}
.about__subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}
.about__text {
  margin-bottom: var(--mb-4);
}
.about__profession {
  display: block;
  margin-bottom: var(--mb-4);
}
.about__social-icon {
  font-size: 1.4rem;
  margin: 0 var(--mb-1);
}
.about__social-icon:hover {
  color: var(--first-color);
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
}
.skills__subtitle {
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}
.skills__name {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
  padding: 0.25rem 0.5rem;
  background-color: var(--white-color);
  border-radius: 0.25rem;
}
.skills__name:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}
.skills__img img {
  border-radius: 0.5rem;
}

/* ===== PORTFOLIO =====*/
.portfolio {
  background-color: var(--white-color);
}
.portfolio__container {
  justify-items: center;
  row-gap: 2rem;
}
.portfolio__img {
  position: relative;
  overflow: hidden;
}
.portfolio__img img {
  border-radius: 0.5rem;
}
.portfolio__img:hover .portfolio__link {
  bottom: 0;
}
.portfolio__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.3s;
}
.portfolio__link-name {
  color: var(--dark-color);
}

/* ===== CONTACT =====*/
.contact__container {
  row-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.contact__subtitle {
  font-size: var(--normal-font-size);
  color: var(--first-color);
}
.contact__text {
  display: inline-block;
  margin-bottom: var(--mb-2);
}
.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.contact__input {
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 1.5px solid var(--dark-color);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
}
.contact__button {
  display: block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--dark-color);
}
.footer__container {
  row-gap: 2rem;
}
.footer__title {
  font-size: var(--normal-font-size);
  color: var(--white-color);
  margin-bottom: var(--mb-2);
}
.footer__link {
  padding: 0.25rem 0;
}
.footer__link:hover {
  color: var(--first-color);
}
.footer__social {
  font-size: 1.4rem;
  margin-right: var(--mb-1);
}
.footer__social:hover {
  color: var(--first-color);
}

/* ===== COOKIE =====*/
.cookie {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  bottom: 30px;
  z-index: 999;
  right: 20px;
  background-color: var(--first-color);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
.cookie__close-button {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  cursor: pointer;
  padding: 5px;
  opacity: 0.5;
  transition: opacity ease-in-out 200ms;
}
.cookie__container {
  position: relative;
  padding: 15px 25px;
  box-sizing: border-box;
}
.cookie__text {
  text-align: left;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.cookie__links {
  display: flex;
  gap: 10px;
}
.cookie__link {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}
.cookie__link--accept {
  color: var(--dark-color);
  background-color: var(--white-color);
}
.cookie__link--accept:hover {
  background-color: #e6e6e6;
}
.cookie__link--decline {
  color: var(--dark-color);
  background-color: var(--white-color);
}
.cookie__link--decline:hover {
  background-color: #e6e6e6;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 1199px) {
  .home__title span {
    font-size: 1.1em;
  }
  .home__img {
    font-size: 3rem;
    left: auto;
    right: 20px;
  }
}
@media screen and (max-width: 991px) {
  .home__title span {
    font-size: 1em;
  }
  .home__img {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .home__container {
    height: 500px;
    grid-template-rows: 1.3fr 1fr;
  }
  .home__title span {
    font-size: 21vw;
  }
  .home__img {
    font-size: 2rem;
  }
}
@media screen and (max-width: 549px) {
  .opinion__link {
    padding-left: 15px;
  }
}
@media screen and (max-width: 480px) {
  .home__container {
    height: 400px;
    grid-template-rows: 1.1fr 1fr;
  }
  .home__img {
    font-size: 1.5rem;
  }
  .cookie {
    max-width: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    border-radius: 0;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
  }
  .section-title {
    margin-bottom: 3rem;
  }
  .section-title::after {
    width: 64px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--white-color);
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .active::after {
    background-color: var(--white-color);
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
    padding: 4rem 0;
  }
  .about__img {
    width: 200px;
    height: 200px;
  }
  .about__img img {
    width: 165px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=styles.css.map */